**/lib
 
skeletons/webpack/*
!skeletons/webpack/.pota

skeletons/react/*
!skeletons/react/.pota

skeletons/react-base/*
!skeletons/react-base/.pota

skeletons/vue/*
!skeletons/vue/.pota

skeletons/vue-base/*
!skeletons/vue-base/.pota


