<div data-component="block-renderer">
  {% set includeMap = {
    'toggle-expand': 'atoms/toggle-expand/toggle-expand.html.twig',
    'image-test': 'image-test/image-test.html.twig',
    'video-test': 'video-test/video-test.html.twig'
  } %}
  {% for block in blocks %}
    {% set includeKey = block.name %}
    {% if includeMap[includeKey] %}
      {% include includeMap[includeKey] with block.props %}
    {% endif %}
  {% endfor %}
</div>
