[data-component='cf-a2-icon'] {
  width: 2.4rem;
  height: 2.4rem;
  display: inline-block;
  vertical-align: middle;

  svg {
    width: 100%;
    height: 100%;
    display: block;
    fill: currentColor;
  }
}
