<div data-component="app">
  {% set includeMap = {
    'default-layout': 'layouts/default/default-layout.html.twig',
    'custom-layout': 'layouts/custom/custom-layout.html.twig'
  } %}
  {% set includeKey = layout.name %}
  {% if includeMap[includeKey] %}
    {% include includeMap[includeKey] with layout.props %}
  {% endif %}
</div>
